body {
  font-family: Helvetica;
}

.bold {
  font-weight: bold;
}

h1 {
  font-size: 100px;
  color: khaki;
  text-align: center;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg');
}

.title {
  font-size: 32px;
  color: white;
}

.price {
  color: blue;
}

#brushes h3 {
  background-color: mediumspringgreen;
}

#frames h3 {
  background-color: lightcoral;
}

#paint h3 {
  background-color: skyblue;
}
